name: ${APP_NAME:-cdn}
services:
  app:
    build:
      context: .
      platforms:
        - linux/amd64
        - linux/arm64

    environment:
      - DEBUG=true
      - CI=false

    volumes:
      - ./conf.d/default.conf:/etc/nginx/conf.d/default.conf

    ports:
      - "8080:8080"
